{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "prettier",
    "import",
    "flowtype"
  ],
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "fetch": false,
    "unknown": false
  },
  "rules": {
    "prettier/prettier": [
      "error", {
        "semi": false,
        "singleQuote": true,
        "jsxSingleQuote": true,
        "space-before-function-paren": [2, "never"],
        "object-curly-newline": false,
        "trailingComma": "none",
        "arrowParens": "avoid"
      }
    ],
    "no-undef": "error",
    "no-unused-expressions": [
      "error", {
        "allowTaggedTemplates": true
      }
    ],
    "no-underscore-dangle": 2,
    "consistent-return": 0,
    "import/no-extraneous-dependencies": 0,
    "import/order": [
      "error", {
        "groups": ["builtin", "external", "internal", "parent" , "index", "sibling",  "object"],
        "newlines-between": "never"
      }
    ],
    "@typescript-eslint/no-var-requires": 0
  },
  "settings": {}
}
